<!-- SPDX-License-Identifier: Apache-2.0 -->
---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import DemoVideo from "../components/DemoVideo.astro";
import Problem from "../components/Problem.astro";
import Solution from "../components/Solution.astro";
import NaturalLanguage from "../components/NaturalLanguage.astro";
import Security from "../components/Security.astro";
import ContextEngine from "../components/ContextEngine.astro";
import CostSavings from "../components/CostSavings.astro";
import Features from "../components/Features.astro";
import Channels from "../components/Channels.astro";
import Personas from "../components/Personas.astro";
import Comparison from "../components/Comparison.astro";
import QuickStart from "../components/QuickStart.astro";
import Architecture from "../components/Architecture.astro";
import OpenSource from "../components/OpenSource.astro";
import AboutName from "../components/AboutName.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <main>
    <Hero />
    <DemoVideo />
    <QuickStart />
    <Problem />
    <NaturalLanguage />
    <Solution />
    <Security />
    <ContextEngine />
    <CostSavings />
    <Features />
    <Channels />
    <Personas />
    <Comparison />
    <Architecture />
    <OpenSource />
    <AboutName />
  </main>
  <Footer />
</Base>
